<ion-content class="ion-padding">
  <ion-toolbar color="white">
    <!-- <div style="font-size: 12px; font-weight: bold;" >Sudah Punya Akun? <a (click)="loginPage()" color="primary" >Login Sekarang</a></div> -->
    <ion-button slot="start" expand="full" fill="clear" (click)="loginPage()">
      <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
      LOGIN
    </ion-button>
    <ion-button slot="end" expand="full" fill="clear" (click)="tutorial()">
      <ion-icon slot="end" name="ios-link"></ion-icon>
      TUTORIAL
    </ion-button>
</ion-toolbar>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item class="bottom"> 
      <ion-label position="stacked">Tipe Pelaksana <ion-text color="danger">*</ion-text></ion-label>
      <ion-select interface="popover" (ionChange)="NamaPelaksana($event)" placeholder="Pilih Tipe Pelaksana" formControlName="tipe_pelaksana">
        <ion-select-option value="3">Aparatur Sipil Negara (ASN)</ion-select-option>
      <ion-select-option value="2">Konsultan/Perusahaan</ion-select-option>
    </ion-select>
    <div *ngIf="submitted && f.tipe_pelaksana.errors" class="invalid-feedback">
      <div *ngIf="f.tipe_pelaksana.errors.required">Tipe Pelaksana Tidak Boleh Kosong</div>
      </div>
    </ion-item>
  <ion-item class="bottom">
   
    <ion-label position="stacked">Nama Pelaksana <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" disabled="{{NamaPelaksanaIsEnabled}}" placeholder="{{PHNamaPelaksana}}" formControlName="pelaksana"></ion-input>
    <div *ngIf="submitted && f.pelaksana.errors" class="invalid-feedback">
      <div *ngIf="f.pelaksana.errors.required">Nama Pelaksana tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
   
    <ion-label position="stacked">Nama Lengkap <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" placeholder="Masukan Nama Lengkap Anda" formControlName="fullname"></ion-input>
    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
      <div *ngIf="f.fullname.errors.required">Nama Lengkap tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Tim <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 1" formControlName="tim"></ion-input>
    <div *ngIf="submitted && f.tim.errors" class="invalid-feedback">
      <div *ngIf="f.tim.errors.required">Tim tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kota/Kabupaten <ion-text color="danger">*</ion-text></ion-label>
    <ion-select (ionChange)="getKecamatan($event)" interface="popover" placeholder="Pilih Kota/Kabupaten sesuai proyek Anda" formControlName="kotakab">
    <ion-select-option *ngFor="let item of kotakab" value="{{item.id}}">{{item.name}}</ion-select-option>
  </ion-select>
  <div *ngIf="submitted && f.kotakab.errors" class="invalid-feedback">
    <div *ngIf="f.kotakab.errors.required">Kota/Kabupaten tidak boleh kosong</div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kecamatan <ion-text color="danger">*</ion-text></ion-label>
    <ion-select disabled="{{kecamatanIsEnabled}}" (ionChange)="getDesa($event)" interface="popover" placeholder="Pilih Kecamatan sesuai proyek Anda" formControlName="kecamatan"> 
      <ion-select-option *ngFor="let item of kecamatan" value="{{item.id}}">{{item.name}}</ion-select-option>
    </ion-select>
    <div *ngIf="submitted && f.kecamatan.errors" class="invalid-feedback">
      <div *ngIf="f.kecamatan.errors.required">Kecamatan tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Desa <ion-text color="danger">*</ion-text></ion-label>
    <ion-select disabled="{{desaIsEnabled}}" interface="popover" placeholder="Pilih Kelurahan/Desa sesuai proyek Anda" formControlName="desa">
      <ion-select-option *ngFor="let item of desa" value="{{item.id}}">{{item.name}}</ion-select-option>
    </ion-select>
    <div *ngIf="submitted && f.desa.errors" class="invalid-feedback">
      <div *ngIf="f.desa.errors.required">Desa tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Target PBT<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 500" formControlName="target_pbt"></ion-input>
    <div *ngIf="submitted && f.target_pbt.errors" class="invalid-feedback">
      <div *ngIf="f.target_pbt.errors.required">Target PBT tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Target SHAT<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 500" formControlName="target_shat"></ion-input>
    <div *ngIf="submitted && f.target_shat.errors" class="invalid-feedback">
      <div *ngIf="f.target_shat.errors.required">Target SHAT tidak boleh kosong</div>
      </div>
  </ion-item><ion-item class="bottom">
    <ion-label position="stacked">Target K4<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 100" formControlName="target_k4"></ion-input>
    <div *ngIf="submitted && f.target_k4.errors" class="invalid-feedback">
      <div *ngIf="f.target_k4.errors.required">Target K4 tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="email" placeholder="Contoh : example@gmail.com" formControlName="email"></ion-input>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email tidak boleh kosong</div>
      <div *ngIf="f.email.errors.email">Format email tidak valid</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" placeholder="Masukan password" formControlName="password"></ion-input>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Kota/Kabupaten tidak boleh kosong</div>
      </div>
  </ion-item>

  <div class="ion-text-center" style="margin-top:40px">
    <ion-button color="tertiary" expand="block" type="submit" style="height:40px" >SUBMIT</ion-button>
    </div>
  </form>
  <div style="margin-top: 15px;">
    <b>NOTE : </b> <p>- Dalam pelaksanaan ASN/Swakelola dibuat akun sesuai Satgas fisik pelaksana.</p>
               <p>- Dalam 1 paket pekerjaan PT/KJSKB hanya membuat 1 akun input PTSL.</p>
  </div>
</ion-content>
