<ion-header>
  <ion-toolbar color="tertiary">
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Report Harian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content class="ion-text-center">
      <div slot="end" style="width: 300px; height: 300px;">
        <img src="assets/logo/bpn_logo.png" height="300px;" width="300px;" />
      </div>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="ReportForm" (ngSubmit)="onSubmit()">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>I. Tanggal Pelaporan <ion-text color="danger">*Wajib</ion-text></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Jawaban Anda <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="2020-02-01" max="2025-01-01" formControlName="dtreport"></ion-datetime>
        <div *ngIf="submitted && f.dtreport.errors" class="invalid-feedback">
          <div *ngIf="f.dtreport.errors.required">Tanggal Pelaporan Tidak Boleh Kosong</div>
        </div>
      </ion-item>
      

    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>II. Lokasi <ion-text color="danger">*Wajib</ion-text></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <ion-radio-group formControlName="lokasi">
          <ion-item *ngFor="let location of locations">
          <ion-label class="ion-text-wrap"> {{location.kotakab.name}}, {{location.kecamatan.name}}, {{location.desa.name}}, Target : {{location.target}}, Tim : {{location.tim}}</ion-label>
          <ion-radio slot="end" value="{{location.id}}"></ion-radio>
        </ion-item>
        <div *ngIf="submitted && f.lokasi.errors" class="invalid-feedback">
          <div *ngIf="f.lokasi.errors.required">Lokasi Tidak Boleh Kosong</div>
        </div>
        </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>III. Pengumpulan Data</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item class="bottom">
        <ion-label position="stacked">a) Terukur <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="terukur"></ion-input>
        <div *ngIf="submitted && f.terukur.errors" class="invalid-feedback">
          <div *ngIf="f.terukur.errors.required">Terukur Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">b) Tergambar <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="tergambar"></ion-input>
        <div *ngIf="submitted && f.tergambar.errors" class="invalid-feedback">
          <div *ngIf="f.tergambar.errors.required">Tergambar Tidak Boleh Kosong</div>
        </div>
      </ion-item>


      <ion-item class="bottom">
        <ion-label position="stacked">c) Entri KKP <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="kkp"></ion-input>
        <div *ngIf="submitted && f.kkp.errors" class="invalid-feedback">
          <div *ngIf="f.kkp.errors.required">Entri KKP Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">d) Pengukuran <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="pengukuran"></ion-input>
        <div *ngIf="submitted && f.pengukuran.errors" class="invalid-feedback">
          <div *ngIf="f.pengukuran.errors.required">Pengukuran Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">e) Pemetaan <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="pemetaan"></ion-input>
        <div *ngIf="submitted && f.pemetaan.errors" class="invalid-feedback">
          <div *ngIf="f.pemetaan.errors.required">Pemetaan Tidak Boleh Kosong</div>
        </div>
      </ion-item>

       <ion-item class="bottom">
        <ion-label position="stacked">f) PBT <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="pbt"></ion-input>
        <div *ngIf="submitted && f.pbt.errors" class="invalid-feedback">
          <div *ngIf="f.pbt.errors.required">PBT Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">g) SU <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="su"></ion-input>
        <div *ngIf="submitted && f.su.errors" class="invalid-feedback">
          <div *ngIf="f.su.errors.required">SU Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">h) Pengumuman <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="pengumuman"></ion-input>
        <div *ngIf="submitted && f.pengumuman.errors" class="invalid-feedback">
          <div *ngIf="f.pengumuman.errors.required">Pengumuman Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">i) Pengesahan <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Jawaban Anda" formControlName="pengesahan"></ion-input>
        <div *ngIf="submitted && f.pengesahan.errors" class="invalid-feedback">
          <div *ngIf="f.pengesahan.errors.required">Pengesahan Tidak Boleh Kosong</div>
        </div>
      </ion-item>

      <ion-item class="bottom">
        <ion-label position="stacked">j) Keterangan </ion-label>
        <ion-textarea rows="3" cols="20" placeholder="Masukan Keterangan" formControlName="keterangan"></ion-textarea>
      </ion-item>

    </ion-card-content>

  </ion-card>
  <div class="ion-text-center" style="margin-top:10px; padding: 5px;">
    <ion-button color="tertiary" expand="block" type="submit" style="height:40px">SUBMIT</ion-button>
    </div>
    </form>
</ion-content>
