<ion-content class="ion-padding">
  <!-- <div *ngFor="let item of kotakab">
    {{item.name}}
  </div> -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <ion-item class="bottom">
    <ion-label position="stacked">Pelaksana <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" placeholder="Contoh : PT. Digital Imaging Geospasial" formControlName="pelaksana"></ion-input>
    <div *ngIf="submitted && f.pelaksana.errors" class="invalid-feedback">
      <div *ngIf="f.pelaksana.errors.required">Pelaksana tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Tim <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 1" formControlName="tim"></ion-input>
    <div *ngIf="submitted && f.tim.errors" class="invalid-feedback">
      <div *ngIf="f.tim.errors.required">Tim tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kota/Kabupaten <ion-text color="danger">*</ion-text></ion-label>
    <ion-select (ionChange)="getKecamatan($event)" interface="popover" placeholder="Pilih Kota/Kabupaten sesuai proyek Anda" formControlName="kotakab">
    <ion-select-option *ngFor="let item of kotakab" value="{{item.id}}">{{item.name}}</ion-select-option>
  </ion-select>
  <div *ngIf="submitted && f.kotakab.errors" class="invalid-feedback">
    <div *ngIf="f.kotakab.errors.required">Kota/Kabupaten tidak boleh kosong</div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kecamatan <ion-text color="danger">*</ion-text></ion-label>
    <ion-select disabled="{{kecamatanIsEnabled}}" (ionChange)="getDesa($event)" interface="popover" placeholder="Pilih Kecamatan sesuai proyek Anda" formControlName="kecamatan"> 
      <ion-select-option *ngFor="let item of kecamatan" value="{{item.id}}">{{item.name}}</ion-select-option>
    </ion-select>
    <div *ngIf="submitted && f.kecamatan.errors" class="invalid-feedback">
      <div *ngIf="f.kecamatan.errors.required">Kecamatan tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Desa <ion-text color="danger">*</ion-text></ion-label>
    <ion-select disabled="{{desaIsEnabled}}" interface="popover" placeholder="Pilih Kelurahan/Desa sesuai proyek Anda" formControlName="desa">
      <ion-select-option *ngFor="let item of desa" value="{{item.id}}">{{item.name}}</ion-select-option>
    </ion-select>
    <div *ngIf="submitted && f.desa.errors" class="invalid-feedback">
      <div *ngIf="f.desa.errors.required">Desa tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Target <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" placeholder="Contoh : 500" formControlName="target"></ion-input>
    <div *ngIf="submitted && f.target.errors" class="invalid-feedback">
      <div *ngIf="f.target.errors.required">Target tidak boleh kosong</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="email" placeholder="Contoh : example@gmail.com" formControlName="email"></ion-input>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email tidak boleh kosong</div>
      <div *ngIf="f.email.errors.email">Format email tidak valid</div>
      </div>
  </ion-item>
  <ion-item class="bottom">
    <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" placeholder="Masukan password" formControlName="password"></ion-input>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Kota/Kabupaten tidak boleh kosong</div>
      </div>
  </ion-item>
  <div class="ion-text-center" style="margin-top:40px">
    <ion-button color="tertiary" expand="block" type="submit" style="height:40px" >SUBMIT</ion-button>
    </div>
  </form>
</ion-content>
